# Vision
ultralytics
ncnn
onnx
onnxruntime

# ?
numpy<2
opencv-python
aioconsole
pyserial
prompt_toolkit
simple-pid

# Web
flask

# RoboMaster SDK
./assets/robomaster-0.1.1.68-py3-none-any.whl
# TensorFlow Lite 2.5.0-post1
./assets/tflite_runtime-2.5.0.post1-cp39-cp39-linux_aarch64.whl
# PyCoral API
./assets/pycoral-2.0.0-cp39-cp39-linux_aarch64.whl
